<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AI Journalist</title>
        <link rel="stylesheet" href="./static/css/bootstrap.css">
        <link rel="stylesheet" href="./static/css/main.css">
    </head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand">AI Journalist</a>
            <a href="https://github.com/24-mohamedyehia/AI-Journalist" target="_blank" class="d-flex align-items-center text-black text-decoration-none">
                <span>Source Code</span>
                <img src="../static/img/github-logo.png" alt="GitHub" width="30" class="ms-4">
            </a>
            
        </div>
    </nav>

    <!-- Project Name -->
    <div class="container project-name my-3 mb-0 pb-0 ">
        <h2 class="text-center my-3 text-danger">AI Journalist</h2>
        <p class="text-center text-danger">Generate articles with AI Journalist!</p>
    </div>

    <br>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar p-0" style="height: 100vh; min-height: 100vh; position: fixed; top: 56px; left: 0; border-radius: 0; z-index: 1000; overflow-y: auto;">
                <div class="pt-3">
                    <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>All Articles</span>
                    </h5>
                    <ul class="nav flex-column mb-2">
                        {% if articles and articles|length > 0 %}
                            {% for article in articles %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/view_article/{{ article[0] }}">
                                        <span class="text-danger">{{ article[1] }}</span>
                                        <br>
                                        <small class="text-muted">({{ article[2][:10] }})</small>
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="nav-item"><span class="text-muted">No articles yet.</span></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <!-- Main Content -->
            <main class="offset-md-3 offset-lg-2 col-md-9 ms-sm-auto col-lg-10 px-md-4" style="margin-left: 16.7%;"> <!-- offset for fixed sidebar -->
                <div class="container my-1">
                    <form id="procurementForm" action="/" method="post">
                        <div class="mb-3">
                            <label for="topic" class="form-label">Topic:</label>
                            <input class="form-control" type="text" id="topic" name="topic" placeholder="Example: AI in healthcare" required>
                        </div>
                        <!-- language -->
                        <div class="mb-3">
                            <label for="language" class="form-label">Language:</label>
                            <select class="form-select" id="language" name="language" required>
                                <option value="">Select Language</option>
                                <option value="en">English</option>
                                <option value="ar">Arabic</option>
                            </select>
                        </div>
                        <div class="d-flex justify-content-center my-4">
                            <button type="submit" class="btn btn-danger m-3">Generate</button>
                        </div>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="alert alert-warning">
                                    {% for message in messages %}
                                        <div>{{ message }}</div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </form>
                    {% if file_name %}
                    <div class="text-center my-4">
                        <a href="/preview/{{ file_name }}" target="_self" class="btn btn-danger">Review</a>
                        <a href="/download/{{ file_name }}" class="btn btn-danger ms-2">Download</a>
                    </div>
                    {% endif %}
                </div>
            </main>
        </div>
    </div>
    <script src="./static/js/bootstrap.js"></script>
    <script src="./static/js/jquery-3.7.1.min.js"></script>
    <script src="./static/js/popper.min.js"></script>
    <script src="./static/js/main.js"></script>
</body>
</html>
